{% extends '::base.html.twig' %}
{% block title %}Противопоказания{% endblock %}
{% block body -%}
<section>
    <div class="container">
        <h1>Противопоказания</h1>
        {% if app.request.headers.get('referer') %}
            <p><a href="{{ app.request.headers.get('referer') }}">назад</a></p><br/>
        {% endif %}
        <ul>
            <li>Все заболевания в острой стадии, острые инфекционные заболевания до окончания срока изоляции, хронические заболевания в стадии обострения и осложнения с острогнойными процессами (высокая температура, лихорадка, интоксикация, кровохарканье и т.п.)</li>
            <li>Психические заболевания. Все формы наркомании и токсикомании</li>
            <li>Туберкулез легких</li>
            <li>Кровотечения различного происхождения</li>
        </ul>
    </div>
</section>
{% endblock %}
