h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d949a; font-family: 'Open Sans Condensed', sans-serif; padding-bottom: 10px;
}
body.modal-open { overflow:inherit; padding-right:inherit !important; }
section {
    padding-top: 50px;
}
#photo {
  padding-top: 0px;
}
#fos_section {
    padding-top: 7%; padding-bottom: 5%;
}
.navbar {
    border-bottom: 10px solid #1d949a;
}
.navbar a {
    font-family: 'Jura', sans-serif; color: #1d949a;;
}
a.navbar-brand {
    font-size: 20px; border-right: solid #1d949a 1px; border-left: solid #1d949a 1px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-caption {
    font-family: 'Jura', sans-serif;
    text-shadow: 0 0 5px #1d949a, 0 0 8px black;
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
}
.carousel-caption h1 {
    color: white; pointer-events: none; padding: 10px; font-family: 'Open Sans Condensed', sans-serif; font-size: 4vw;
}

.carousel-caption a { color: white; text-shadow: 0 0 4px black; font-size: 2vw; text-decoration: underline; }
footer {
    text-align: center;
    color: #bababa;
}
footer a {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}
.alert {
    position: fixed; top: 60px; left: 0; right: 0; z-index: 1;
}
.well {margin-top: 20px}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 2px solid #3aa7ac; border-bottom: none;
}
.modal {
    top: 5%;
}
.label {
    background: #1d949a;
}
.about-bg {
    padding-top: 40px; padding-bottom: 15px;
    background: #3aa7ac;
}
.about-bg h1 {
  color: white;
}
.about-nav {
  background: #EDF4F4; padding-bottom: 20px; padding-top: 40px; margin-top: 20px;
}
.about-nav div a {
  font-size: 6vw;
}
.about-nav div h4 {
  font-size: 1.2vw;
}
.phone-bg {
    text-align: justify; background: #048389; padding: 10px; padding-bottom: 20px;
}
.phone-bg h1, .phone-bg h2 {
    color: white;
}
.phone-bg h2 {
    line-height: 200%;
}
.contact-bg {
    background: #01666a; padding-bottom: 20px; border-bottom: 1px solid grey;
}
.contact-bg h1 {
    color: white;
}
.panel h1 { font-size: 3vw; }
.panel h2 { font-size: 2.5vw; }
.panel h3 { font-size: 2vw; }
form { margin-bottom: 15px; margin-top: 15px; }
form input { margin-bottom: 15px; margin-top: 10px; }
.comments_form {
    border: solid #1d949a 1px; margin-bottom: 20px; margin-top: 20px; padding: 15px;
    border-radius: 20px;
}